<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>bookface</title>
</head>
<body>
  <%- include('navbar',{userProfile}) %>
  <form action="/mypost/add" method="post">
    <div>
      <label for="title">Title : </label>
      <input type="text" name="title" id="title">
    </div>
    <div>
      <label for="content">Content :</label>
      <input type="text" name="content" id="content">
    </div>
    <div>
      <label for="imagePath">Image file :</label>
      <input type="file" id="imagePath" name="imagePath" value="">
    </div>
    <div>
      <label for="tag">Tags :</label><br>
      <% tagData.forEach(el => { %>
       
        <input type="checkbox" name="tag" id="tag-<%=el.id %>" value="<%= el.id %>"> 
        <label for="tag-<%=el.id %>"><%= el.name %></label>
      <% }) %>
    </div>
    <input type="submit" value="Create New Post"> 
  </form>
</body>
</html>

