<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>bookface</title>
</head>
<body>
  <%- include('navbar',{userProfile}) %>

  <table>
    <tr>
      <th>User Name</th>
      <th>Title</th>
      <th>Image</th>
      <th>Content</th>
      <th>Tags</th>
    </tr>
    <% data.forEach(el => { %>
      <tr>
        <td><%= el.User.username %></td>
        <td><%= el.title %></td>
        <% if (el.imagePath) { %>
          <td> <img src="<%= el.imagePath%>" style="width:100px"></td>
          <% } else { %>
            <td></td>
        <% } %>
        <td><%= el.content %></td>
        <td>
          <% el.Tags.forEach(tag => { %>
            <li><a href="/home?tag=<%= tag.name %>"><%= tag.name %></a></li>
          <% }) %>
        </td>
      </tr>
    <% }) %>
  </table>
</body>
</html>

